*{
    margin: 0px;
    padding: 0px;

}
.hero-section-banner {
    max-width: 1320px;
    max-height: 600px;
    margin: 0 auto;
  
}

.banner-img{
    height: 50%;
    width: 100%;
    margin-top: 25px;

}

.offer-section {
    max-width: 802.9px;
    max-height: 800px;
    margin: 91px auto;
}
.offer-section h2 {
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
    font-size: 52px;
    font-family: sans-serif;
}
.offer-section h4 {
    text-align: center;
    color: #FF0000;
    font-family: sans-serif;
    padding-top: 48px;
    font-size: 23px;
}
.offer-section h3 {
    text-align: center;
    color: #070211;
    font-family: sans-serif;
    padding-top: 13px;
    font-size: 47px;
}
.offer-image {
    width: 802px;
    height: 522px;
    padding-top: 36px;
}