
*{
    margin: 0px;
    padding: 0px;
}
.banner-section {
    max-width: 1320px;
    max-height: 613px;
    margin-bottom: 36px;
}

.banner-img {
    padding: 21px 355px 11px 355px;
    max-width: 1300px;
    max-height: 600px;
}

.offer-new-year {
    /* background-color: yellow; */
    max-width: 802px;
    max-height: 809px;
    margin: 0 auto;
}

.new-yaear-off {
    color: #FF0000;
    text-align: center;
    font-size: 57px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
}

.all-deals {
    text-align: center;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.all-deals .deals-des {
    color: #FF0000;
    font-size: 13px;
}
.all-deals .categories {
    font-size: 27px;
    margin-top: 11px;
    color: #070211;
    margin-bottom: 41px;
}
.new-year-banner{
    max-width: 1320px;
    max-height: 613px;
    margin-bottom: 36px;
    background-color: yellow;
}
.vector-img {
    padding: 21px 355px 11px 355px;
    max-width: 1300px;
    max-height: 600px;
    position: absolute;
    background-image: linear-gradient(black);
}
.vector-title {
    position: absolute;
    margin: 176px 31px -37px 445px;
    color: white;
    font-size: 92px;
    max-width: 47%;
    font-family: Arial, Helvetica, sans-serif;
}
.vector-des {
    position: absolute;
    margin: 409px 31px -37px 445px;
    color: #D4CFD2;
    font-size: 22px;
    max-width: 38%;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-primary {
    position: absolute;
    margin: 512px 32px -37px 476px;
    font-size: 39px;
    border: none;
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

