*{
    margin: 0px;
    padding: 0px;

}
.hero-section-banner {
    max-width: 1320px;
    max-height: 600px;
    margin: 0 auto;
  
}

.banner-img{
    height: 50%;
    width: 100%;
    margin-top: 25px;

}

.offer-section {
    max-width: 802.9px;
    max-height: 800px;
    margin: 91px auto;
}
.offer-section h2 {
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
    font-size: 52px;
    font-family: sans-serif;
}
.offer-section h4 {
    text-align: center;
    color: #FF0000;
    font-family: sans-serif;
    padding-top: 48px;
    font-size: 23px;
}
.offer-section h3 {
    text-align: center;
    color: #070211;
    font-family: sans-serif;
    padding-top: 13px;
    font-size: 47px;
}
.offer-image {
    width: 802px;
    height: 522px;
    padding-top: 36px;
}

.vector-image{
    position: absolute;
}

.welcome-part {
    margin: 91px auto;
    background-image: url('../image/Vectorrr.png');
    padding: 292px;
    background-position: center;
    background-repeat: no-repeat;
  
}
.welcome-details {
    color: aliceblue;
    max-width: 50%;
    padding-left: 131px;
    font-family: sans-serif;
    padding-top: -14px;
}

.welcome-details h2 {
    font-size: 81px;
    max-width: 89%;
    padding-top: -43px;
    margin-top: -58px;
}

.welcome-details p {
    padding-top: 20px;
    line-height: 29px;
    padding-bottom: 27px;
}

.btn-hero {
    font-size: 20px;
    border: none;
    background-color: unset;
    color: #F0F8FF;
    padding-left: 42px;
    font-weight: bold;
}

.party-schedule {
    background-color: #FFEEEE;
    max-width: 1320px;
    max-height: 482px;
    margin: 0 auto;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 69px;
}
.party-time-date {
    text-align: center;
    font-size: 22px;
    line-height: 51px;
    font-family: sans-serif;
}
.btn-hero-new {
    padding: 14px;
    border-radius: 16px;
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bolder;
    border-color: #FF0000;
    margin-top: 50px;
}

.span-color{
    color: #FF0000;
}

.best-offer-section{
    max-width: 1320px;
    max-height: 482px;
    /* background-color: yellowgreen; */
    margin: 0 auto;
}
.new-best-offer {
    display: flex;
    text-align: justify;
    padding-top: 99px;
    margin-top: 95px;
    font-family: sans-serif;
}

.best-offer-des{
    max-width: 40%;
}

.ellipes-img{
    max-width: 40%;
}

.ellipes-img img {
    width: 100%;
    padding-bottom: -49px;
    margin-top: -41px;
    margin-left: 8px;
}
.happy-new-offer {
    max-width: 20%;
    margin-left: 234px;
}
.best-offer-des{
    padding-left: 10px;
}
.best-offer-des h4 {
    color: #FF0000;
    padding-bottom: 14px;
    font-size: 16px;
}
.best-offer-des h3 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 10px;
}
.best-offer-des p {
    font-size: 18px;
    max-width: 68%;
    line-height: 26px;
}

.group-img {
    align-items: center;
    width: 37%;
    padding-top: 26px;
}

.happy-new-offer h3 {
    font-size: 32px;
    color: #FF0000;
    padding-bottom: 13px;
}

.happy-new-offer p {
    font-size: 18px;
    line-height: 26px;
}

.holiday-sale{
    max-width: 1320px;
    max-height: 986px;
    /* background-color: aqua; */
    margin: 0 auto;

}

/* .discount{
    display: flex;
} */

.holiday-sale {
    font-family: sans-serif;
    text-align: center;
}

.holiday-sale-content h4 {
    padding-top: 5px;
    padding-bottom: 13px;
}
.holiday-sale-content h2 {
    font-size: 48px;
    padding-bottom: 16px;
}
.holiday-sale-content p {
    font-size: 17px;
    text-align: center;
    padding-left: 289px;
    padding-right: 289px;
    line-height: 24px;
    padding-bottom: 21px;
}

.group-44 {
    max-width: 79%;
    position: absolute;
    display: left;
    padding-left: 72px;
    padding-top: 86px;
}
.rectangle-1 {
    max-width: 56%;
    padding-left: 891px;
    margin-top: 32px;
}

.holiday-span{
    color: #FF0000;
}

.group-75 {
    position: absolute;
    width: 27%;
    margin-right: 36px;
    display: flow;
    margin-top: -515px;
    margin-left: 50px;
}

.rectangle-2 {
    padding-top: -6px;
    margin-top: -4px;
}

.awesome-portfolio{
    max-width: 1320px;
    max-height: 986px;
    margin: 0 auto;
}

.portfolio-img {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 11px;
}
.portfolio-img-details{
    width: 100%;
}

.portfolio-content {
    text-align: justify;
    font-family: sans-serif;
    padding-top: 78px;
    padding-bottom: 70px;
}

.portfolio-content h4 {
    color: #FF0000;
    padding-bottom: 12px;
    font-size: 19px;
}
.portfolio-content h2 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 14px;
}

.portfolio-content p {
    max-width: 62%;
    font-size: 19px;
    line-height: 32px;
}

.subscriber-newaletter {
    background-color: #FFF2F2;
    margin-top: 331px;
    max-width: 1320px;
    max-height: 661px;
    margin: 323px auto;
    padding-bottom: 179px;
    font-family: sans-serif;
}

.subscriber-search{
    display: flex;
}

.subscriber-content {
    padding-top: 74px;
}

.subscriber-content h2 {
    text-align: center;
    font-size: 36px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.group-61 {
    align-items: center;
    padding-left: 638px;
    width: 7%;
}
.subscriber-content p {
    text-align: center;
    padding-bottom: 27px;
    line-height: 26px;
}
.search-box {
    border-radius: 61px 8px 11px 64px;
    padding: 14px 10px 15px 164px;
    font-size: 12px;
    text-align: left;
    margin-left: 446px;
    border: none;
}

.main-btn {
    border-radius: 0px 17px 19px 0px;
    padding: 13px 10px 15px 37px;
    font-size: 12px;
    text-align: left;
    margin-left: -3px;
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    text-align: right;
    font-size: 12px;
}
